body{
  background-color: #5bccf6;
}

main{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcde67;
}

/* #mall_items{
  display: flex;
  
} */

header{
  font-size: 2.5em;
  border: 1px solid black;
  display: flex;
  padding: 25px 0px 25px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#productlist{
  border: 1px solid black;
}

h2{
  font-size: 1.5em;
  padding-bottom: 50px;
}

ul{
  width: 100px;
  padding: 25px 25px 100px 25px;
}


.content{
  padding-top: 25px;
  padding-bottom: 25px;
}

#img1_p{
  padding-top: 25px;
  padding-bottom: 25px;
}
#img2_p{
  padding-top: 25px;
  padding-bottom: 25px;
}
#img3_p{
  padding-top: 25px;
  padding-bottom: 25px;
}

#item1_img {
  /* display: flex;
  justify-content: space-evenly; */
  max-width:400px;
  max-height: 200px;
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#item2_img {
  /* display: flex;
  justify-content: space-evenly; */
  max-width:400px;
  max-height: 200px;
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

#item3_img {
  /* display: flex;
  justify-content: space-evenly; */
  max-width:400px;
  max-height: 200px;
  width: auto;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}

main{
  border: 1px solid black;
}

article{
  height: 100px;
  padding: 75px 25px 75px 25px;
  text-indent: 30px;
}

#all_items{
  display: flex;
  justify-content: space-evenly;
}

#graph{
  max-width:800px;
  max-height: 800px;
  /* width: auto;
  height: auto; */
}